
						/* BODY */
body {
	font-family: PT Sans Narrow, Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: #333333;
	padding: 0;
	margin: 0;
	background: #f2f2f2;
	
}
.wrapper {
	width: 1200px;
	margin: 0 40px;
	position: relative;
	/*box-shadow: 0 0 5px 5px #dfdfdf;*/
	position: relative;
	background: white;
}


.logo {
	background: url(../img/logo.png) no-repeat;
	width: 138px;
	height: 70px;
	position: absolute;
	top: 0;
	left: 44.25%;
}

						/* HEADER */

.header {
	background-color: #ffffff;
	padding-top: 15px;
	padding-bottom: 15px;
	width: auto;
}


.navigation {
	width: auto;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
}

.navigation a {
	color: black;
	text-decoration: none;
}

.navigation a:hover {
	color: #81b3d2;
}

.navigation a:active {
	color: #766357;
}


#info-link {
	margin-left: 72px;
	margin-right: 147px;
	float: left;
}

#photo-link {
	float: left;
	margin-right: 388px;
}

#state-link {
	float: left;
}

#hotel-link {
	float: right;
	margin-right: 72px;
}

#hotel-link a {
	color: #cacaca;
}

#hotel-link:active {
	color: #dbd8d5;
}
.support {
	clear: both;
}

.logo {
	background: url(../img/logo.png) no-repeat;
	width: 138px;
	height: 70px;
	position: absolute;
	top: 0;
	left: 44.25%;
}

/* CONTENT */

/* top-menu*/

.top-menu {
	width: 100%;
	height: 217px;
	background: url(../img/filterbackground.jpg) no-repeat;
	color: white;
}

.column1 {
	height: 100%;
	width: 145px;
	float: left;
	margin-left: 72px;
}

.leftcolumn,
.rightcolumn {
	margin-top: 25px;
}


.column2 {
	height: 100%;
	width: 170px;
	float: left;
	margin-left: 109px;
}

.column3 {
	height: 100%;
	width: 330px;
	float: left;
	margin-left: 304px;
}
.gol {
	clear: both;
}

.column1 li,
.column2 li,
.column3 li {
	list-style-type: none;
}


.column1 ul,
.column2 ul,
.column3 ul {
	padding: 0;
	
}


.checkbox {
	position: relative;
	padding-left: 26px;
	cursor: pointer;
}

.checkbox:hover {
	color: inherit;
}

.checkbox input[type="checkbox"] {
	display: none;
}

.relli {
	position: relative;
}
.checkbox input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	width: 26px;
	height: 22px;
	top: -3px;
  	left: 0;
  	border: transparent;
  	background: url(../img/untig.png) no-repeat;

}


.checkbox input[type="checkbox"]:checked +.checkbox-indicator::before {
	content: "";
	position: absolute;
	width: 26px;
	height: 32px;
	top: 0;
	left: 0;
	border: transparent;
  	background: url(../img/tig.png) no-repeat;

}

.relli {
	margin-bottom: 23px;
}



/*   column3(range control)   */


.filter-range {
	width: 330px;
	text-transform: uppercase;
	color: #ffffff;
}

.range-title {
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
	margin-top: 14px;
	margin-bottom: 14px;
}

.price-controls {
	border: 2px solid #ffffff;
	border-radius: 2px;
	margin-bottom: 20px;
	height: 36px;
	box-sizing: border-box;
	font-size: 0;
	position: relative;
}

.price-controls::after {
	content: "";
	position: absolute;
	width: 2px;
	height: 22px;
	background: #ffffff;
	top: 50%;
	left: 50%;
	margin-left: -1px;
	margin-top: -11px;
}



.price-controls label {
	display: inline-block;
	font-size: 14px;
	line-height: 31px;
	vertical-align: top;
	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 65px; 
}

.price-controls input {
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
	outline: none;
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);

}

.range-controls .bar {
	height: 2px;
	width: 80%;
	background: #ffffff;
}

.range-toggle {
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
	position: absolute;
	top: -9px;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.range-toggle:hover{
	background: #1c4f80;
}

.btn-transparent {
	display: block;
	padding: 6px 35px;
	border: 2px solid #ffffff;
	background: transparent;
	margin: 0 auto;
	font: inherit;
	color: inherit;
	cursor: pointer;
	border-radius: 2px;

}

.btn-transparent:hover {
	background: #ffffff;
	color: #000000;
	border-radius: 2px;
}


/*   find block   */

.sort-menu {
	font-size: 0;
	padding-top: 31px;
	padding-bottom: 31px;
	box-sizing: border-box;
	border-bottom: 1px solid #e5e5e5; 
}

.sort-menu-item {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	line-height: 18px;
	color: black;
}

.sort-menu .title {
	font-size: 21px;
	line-height: 26px;
	margin-left: 72px;
	margin-right: 71px;
	display: inline-block;
	vertical-align: middle;
	margin-top: 0;
	margin-bottom: 0;
}

.sort-menu .number2 a {
	color: #81b3d2;
	text-decoration: none;
}
.sort-menu .number2 {
	margin-left: 52px;
	margin-right: 43px;
}

.sort-menu .number3 a:hover,
.sort-menu .number4 a:hover {
	color: #81b3d2;
}

.sort-menu .number3 {
	margin-right: 44px;
}

.sort-menu .number4 {
	margin-right: 517px;
}

.sort-menu .number3 a, 
.sort-menu .number4 a {
	color: #cacaca;
	text-decoration: underline;
	text-decoration-style: dashed;
}

.sort-menu .number5 a {
	display: inline-block;
	vertical-align: middle;
	width: 11px;
	height: 10px;
	border: none;
	background: transparent url(../img/up.png) no-repeat;
	font-size: 0;

	
}

.sort-menu .number6 a {
	display: inline-block;
	vertical-align: middle;
	width: 11px;
	height: 10px;
	border: none;
	background: transparent url(../img/down.png) no-repeat;
	font-size: 0;
	
	
}

.sort-menu .number5 {
	margin-right: 12px;
}


/*   result-menu   */


.result-menu {
	width: 100%;
}


/*   result-1 */

.result {
	width: 100%;
	height: 90px;
	border-bottom: 1px solid #e5e5e5; 
	padding-top: 30px;
	padding-bottom: 30px;
}

.picture1,
.picture2,
.picture3 {
	float: left;
	width: 135px;
	height: 90px;
	background: url(../img/amara.jpg);
	margin-left: 72px;
}

.picture2 {
	background: url(../img/desert.jpg);
}

.picture3 {
	background: url(../img/villas.jpg);
}


.about-hotel {
	float: left;
	width: 240px;
	height: 90px;
	margin-left: 28px;
	box-sizing: border-box;
	padding-top: : 0;
}

.about-hotel .result-title {
	display: block;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	width: 100%;
	margin-bottom: 12px;
}

.about-hotel .result-title:hover {
	color: #669ec0; 
}

.result-description {
	margin-bottom: -17px;
}

.description1 {
	display: block;
	float: left;
	width: 106px;
	color: #7d7d7d;
	font-size: 14px;
	line-height: 21px;
}

.description2 {
	display: inline-block;
	color: #7d7d7d;
	font-size: 14px;
	line-height: 21px;
}

.more {
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	background: #81b3d2;
	margin-right: 6px;
	padding: 3px 17px;
}

.more:hover {
	background: #669ec0;
}

.book {
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	background: #766357;
	padding: 3px 17px;
	
}
.book:hover {
	background: #604e43;
}


.rating {
	width: 96px;
	height: 90px;
	margin-right: 72px;
	box-sizing: border-box;
	float: right;
}

.star-rating1 {
	width: 89px;
	height: 17px;
	background: url(../img/4star.png) no-repeat;
	margin-bottom: 50px;
}


.star-rating2 {
	float: right;
	width: 42px;
	height: 17px;
	background: url(../img/2star.png) no-repeat;
	margin-bottom: 50px;
}

.star-rating3 {
	float: right;
	width: 65px;
	height: 17px;
	background: url(../img/3star.png) no-repeat;
	margin-bottom: 50px;
}

.point-rating a {
	font-size: 14px;
	line-height: 21px;
	color: #666666;
	background: #f2f2f2;
	padding: 3px 14px;
	text-transform: uppercase;
	text-decoration: none;
}

.gol {
	clear: both;
}


						/*   FOOTER   */



.main-footer {
	width: 100%;
	padding-bottom: 36px;
	padding-top: 36px;

}

.container {
	min-height: 48px;
}

.social-btn:hover {
	background: #669ec0 ;
}

.social-btn:active {
	background: #5496bd;
}

.visit-link {
	float: left;
	display: inline-block;
	line-height: 26px;
	font-size: 21px;
	font-weight: bold;
	margin-top: 11px;
	margin-left: 132px;

	
}

.visit-link a {

	text-decoration: none;
	color: black;
}


.social {
	display: inline-block;
	float: left;
	margin-left: 279px;
}

.social-btn {
	display: inline-block;
	width: 46px;
	height: 48px;
	background: #81b3d2;
	text-indent: -1000px;
}

.social a:nth-child(1) {
	margin-right: 6px;
}

.social a:nth-child(2) {
	margin-right: 6px;
}

.copyright {
	width: 195px;
	height: 39px;
	float: right;
	margin-right: 103px;
	background: url(../img/copyrightsprite.png) no-repeat;
	background-position: 0px -10px;
}

.copyright:hover {
	width: 195px;
	height: 39px;
	float: right;
	margin-right: 103px;
	background: url(../img/copyrightsprite.png) no-repeat;
	background-position: 0px -69px;
}

.social .social-btn-vk {
	background-image: url(../img/icon-sprite.png);
	background-position: 42px 6px;
}

.social .social-btn-fb {
	background-image: url(../img/icon-sprite.png);
	background-position: 7px 4px;
}

.social .social-btn-inst {
	background-image: url(../img/icon-sprite.png);
	background-position: 80px 5px;
}

.visual:hover {
	background: white;
}