				/*   ***INDEX.HTML***   */
						

						/* BODY */
body {
	font-family: PT Sans, Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: #333333;
	padding: 0;
	margin: 0;
	background: #f2f2f2;
}

.wraper {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	box-shadow: 0 0 5px 5px #dfdfdf;
	background: white;
}


						/* HEADER */

.header {
	background-color: #ffffff;
	padding-top: 15px;
	padding-bottom: 15px;
	width: auto;
	box-sizing: border-box;
}

.header {
	width: auto;
	font-size: 0;
}

.header a {
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
  	line-height: 26px;
  	font-weight: bold;
}

.header a:hover {
	color: #81b3d2;
}

.header a:active {
	color: #cacaca;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  height: 26px;
}

.header li {
  display: inline-block;
  width: 20%;
  text-align: center;
  padding: 0;
}

.header li:nth-child(2) {
  margin-right: 20%;
}

.support {
	clear: both;
}

.logo {
	background: url(../img/logo.png) no-repeat;
	width: 138px;
	height: 70px;
	position: absolute;
	top: 0;
	left: 44.25%;
}


						/*   SLOGAN BLOCK   */

.slogan {
	width: 100%;
}

.slogan-image {
	position: relative;
}

.welcome-back {
	width: 1200px;
	height: 508px;
}

.welcome1 {
	background: url(../img/welcometext2.png);
	width: 458px;
	height: 352px;
	position: absolute;
	top: 76px;
	left: 30.9167%;
}

.white-shape {
	position: absolute;
	width: 100%;
	height: 57px;
	background: url(../img/shape1.png) no-repeat;
	bottom: 0;
	left: 0;
}

.slogan-message {
	background: #ffffff;
	width: 100%;
	padding-top: 38px;
	padding-bottom: 37px;
}

.slogan-p1 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 28px;
}

.slogan-p2 {
	font-size: 14px;
	line-height: 26px;
	text-align: center;
}


						/*   MAIN   */


/* set up */

.container {
	width: 100%;
}

.block {
	width: 400px;
}

.block h3 {
	font-size: 21px;
	line-height: 21px;
	text-align: center;
	font-weight: bold;
}

.block p {
	font-size: 14px;
	line-height: 21px;
	text-align: center;
}



.container .type1 {
	background: #81b3d2;
	color: white;
}

.container .type2 {
	background: #eeeeee;
}

.container .type2 h3 {
	color: black;
}

.container .type2 p {
	color: #656565;
}


/* 1-st reason */

.container .reason1,
.container .reason2 {
	padding-top: 34px;
	padding-bottom: 41px;
	box-sizing: border-box;
	height: 256px;
}

.container .reason1 {
	float: left;
}

.container .reason1 h3,
.container .reason2 h3 {
	margin-bottom: 24px;
}

.container .reason1 .n1index,
.container .reason2 .n1index {
	margin-bottom: 21px;
}

.reason1-img {
	float: right;
	width: 800px;
	height: 256px;
	background: url(../img/n1img.jpg) no-repeat;
}


/* specials block */

.container .spec1 {
	float: left;
	padding-top: 164px;
	padding-bottom: 47px;
	background: url(../img/house-icon.png) no-repeat;
	background-position: 50% 60px;
}

.container .spec2 {
	float: left;
	padding-top: 164px;
	padding-bottom: 47px;
	background: url(../img/burger-icon.png) no-repeat;
	background-position: 50% 60px;
}

.container .spec3 {
	float: right;
	padding-top: 164px;
	padding-bottom: 47px;
	background: url(../img/present-icon.png) no-repeat;
	background-position: 50% 56px;
}


.container .spec1,
.container .spec2 ,
.container .spec3 {
	box-sizing: border-box;
	padding-top: 140px;
	padding-bottom: 71px;
}

/* 2-nd reason */

.container .reason2 {
	float: right;
}


.reason2-img {
	float: left;
	width: 800px;
	height: 256px;
	background: url(../img/n2img.jpg) no-repeat;
}

/* 3-rd to 5-th reasons */

.container .reason3,
.container .reason4,
.container .reason5 {
	padding-top: 26px;
	padding-bottom: 41px;
	box-sizing: border-box;
	padding-bottom: 45px;
}


.container .reason3,
.container .reason4 {
	float: left;
}

.container .reason5 {
	float: right;
}

.container .reason1 h3,
.container .reason3 h3,
.container .reason4 h3,
.container .reason5 h3 {
	margin-bottom: 24px;
}

.container .reason3 .n2index,
.container .reason4 .n2index,
.container .reason5 .n2index {
	margin-bottom: 21px;
} 



						/*   INFO SECTION   */

.info-section {
	position: relative;
	box-sizing: border-box;
	height: 764px;
	background: #fff;
}

.interested {
	box-sizing: border-box;
	padding-top: 31px;
	padding-bottom: 47px;
	background: #ffffff;
}

.interested h2 {
	font-size: 30px;
	line-height: 24px;
	text-align: center;
}

.interested p {
	font-size: 14px;
	line-height: 24px;
	color: #333333;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 0;
}


.map {
	width: 100%;
	height: 593px;
	width: 1200px;
}

						/*   FORM   */




.choose-hotel:hover form{
	display: block;
}

.form {
	position: absolute;
	top: 291px;
	left: 316px;
	background-color: white;
	width: 568px;
	padding-bottom: 53px;
	padding-top: 55px;
}

.form-hide {
	display: none;
}


.choose-hotel-title {
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	background: #766357;
	border: none;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 568px;
	margin-left: 316px;
	cursor: pointer;
	height: 86px;
}

.form-section {
	margin-left: 55px;
	width: 458px;
}



.indate span {
	display: inline-block;
	padding-top: 5px;
	width: 100px;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
}


.indate input {
	display: inline-block;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 15px;
	background: #f2f2f2;
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	font-weight: bold;
	float: right;
	width: 291px;
	border: none;
	margin-left: 12px;
	margin-top: -1px;
	padding-right: 0;
}

.indate input:hover {
	background: #ebebeb;
}

.indate input:focus {
	background: #ffffff;
	border: 2px solid #e5e5e5;
	width: 289px;
	padding: 4px 0 4px 13px;
}

.calendar {
	display: inline-block;
	float: right;
}

.calendar .cal-but {
	display: inline-block;
	background: #f2f2f2 url(../img/calendarsprite.png) no-repeat;
	background-position: 0 -1px;
	width: 40px;
	height: 38px;
	text-indent: -100000px;
	border: none;
	cursor: pointer;
	margin-top: -1px;
}

.calendar .cal-but:hover {
	background: #f2f2f2 url(../img/calendarsprite.png) no-repeat;
	background-position: 0px -43px;
	display: inline-block;
	width: 40px;
	height: 38px;
	text-indent: -100000px;
}

.calendar .cal-but:active {
	display: inline-block;
	background: #f2f2f2 url(../img/calendarsprite.png) no-repeat;
	background-position: 0 -85px;
	width: 40px;
	height: 38px;
	text-indent: -100000px;
	border: none;
	cursor: pointer;
	margin-top: -1px;
}

.indate {
	margin-bottom: 30px;
	float: left;
}

.outdate span {
	display: inline-block;
	padding-top: 5px;
	width: 102px;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
}

.outdate input {
	display: inline-block;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 15px;
	padding-right: 0;
	margin-left: 10px;
	margin-top: -1px;
	background: #f2f2f2;
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	font-weight: bold;
	float: right;
	width: 291px;
	border: none;
}

.outdate input:hover {
	background: #ebebeb;
}

.outdate input:focus {
	background: #ffffff;
	border: 2px solid #e5e5e5;
	width: 289px;
	padding: 4px 0 4px 13px;
}


.calendar {
	display: inline-block;
	float: right;
}

.outdate {
	margin-bottom: 30px;
	float: left;
}


/* counter */

.counter {
	float: left;
}

.counter span {
	display: inline-block;
	padding-top: 5px;
	width: 100px;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
}

.minus-btn {
	display: inline-block;
	float: left;
}

.minus-btn .minus {
	display: inline-block;
	background: #f2f2f2 url(../img/minus.png) no-repeat;
	background-position: 13px 18px;
	width: 37px;
	height: 38px;
	text-indent: -100000px;
	border: none;
	cursor: pointer;
}

.minus-btn .left-button{
	margin-left: 12px;
}

.minus-btn .right-button{
	margin-left: 0;
}

.minus-btn .minus:hover {
	display: inline-block;
	background: #f2f2f2 url(../img/minushvr.png) no-repeat;
	background-position: 13px 18px;
	width: 37px;
	height: 38px;
	text-indent: -100000px;
}

.minus-btn .minus:active {
	display: inline-block;
	background: #f2f2f2 url(../img/minusdwn.png) no-repeat;
	background-position: 13px 18px;
	width: 37px;
	height: 38px;
	text-indent: -100000px;
}



.counter input {
	display: inline-block;
	float: left;
	padding-top: 6px;
	padding-bottom: 6px;
	background: #f2f2f2;
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	font-weight: bold;
	width: 37px;
	border: none;
	text-align: center;
}

.counter input:hover {
	background: #ebebeb;
}

.counter input:focus {
	background: #ffffff;
	border: 2px solid #e5e5e5;
	padding: 4px 0 4px 0;
	width: 33px;
}

.plus-btn {
	display: inline-block;
	float: left;
}

.plus-btn .plus {
	display: inline-block;
	background: #f2f2f2 url(../img/plus.png) no-repeat;
	background-position: 13px 14px;
	width: 37px;
	height: 38px;
	text-indent: -100000px;
	border: none;
	cursor: pointer;
}

.plus-btn .plus:hover {
	display: inline-block;
	background: #f2f2f2 url(../img/plushvr.png) no-repeat;
	background-position: 13px 14px;
	width: 37px;
	height: 38px;
	text-indent: -100000px;
}
.plus-btn .plus:active {
	display: inline-block;
	background: #f2f2f2 url(../img/plusdwn.png) no-repeat;
	background-position: 13px 14px;
	width: 37px;
	height: 38px;
	text-indent: -100000px;
}

#children {
	margin-left: 55px;
	margin-right: -36px;
}


.golx {
	clear: both;
	margin-bottom: 50px;
}

.find {
	display: inline-block;
	width: 100%;
	text-align: center;
	text-decoration: none;
	padding: 16px 0px;
	font-size: 21px;
	line-height: 26px;
	background: #81b3d2;
	color: white;
	border: none;
	cursor: pointer;
	margin-top: 4px;
}

.find:hover {
	background: #669ec0;
}

.find:active {
	background: #5496bd;
	color: rgba(148, 185, 210, 0.3);
}




						/*   FOOTER   */



.main-footer {
	width: 100%;
	padding-bottom: 35px;
	padding-top: 35px;
	position: relative;
	z-index: 3;
	background: rgba(255, 255, 255, 0.9);
}

.container {
	min-height: 50px;
	border: none;
}



.visit-link {
	float: left;
	display: inline-block;
	line-height: 26px;
	font-size: 21px;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 132px;
}

.visit-link a {

	text-decoration: none;
	color: black;
}

.social {
	display: inline-block;
	float: left;
	margin-left: 255px;
}

.social-btn1,
.social-btn2,
.social-btn3 {
	display: inline-block;
	width: 46px;
	height: 48px;
	background: #81b3d2;
	color: #81b3d2;
	position: relative;
	text-indent: -100000px;
}

.social a:hover {
	background: #669ec0;
	color: #669ec0;
}

.social a:active {
	background: #5496bd;
}


.social-btn1:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 4;
  transform: translateX(-50%) translateY(-50%);
  background: url(../img/tw.png) no-repeat;
 
  width: 17px;
  height: 15px;
}

.social-btn2:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 4;
  transform: translateX(-50%) translateY(-50%);
  background: url(../img/fb.png) no-repeat;
  width: 10px;
  height: 19px;
}

.social-btn3:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 4;
  transform: translateX(-50%) translateY(-50%);
  background: url(../img/tube.png) no-repeat;
  width: 20px;
  height: 16px;
}

.social-btn3:active:after,
.social-btn2:active:after,
.social-btn1:active:after {
  opacity: 0.3;
}


.social a:nth-child(1) {
	margin-right: 3px;
}

.social a:nth-child(2) {
	margin-right: 2px;
}

.copyright {
	width: 195px;
	height: 39px;
	float: right;
	margin-right: 103px;
	padding-bottom: 10px;
	background: url(../img/copyrightsprite.png) no-repeat;
	background-position: -10px -5px;
}

.copyright:hover {
	width: 195px;
	height: 39px;
	float: right;
	margin-right: 103px;
	background: url(../img/copyrightsprite.png) no-repeat;
	background-position: -10px -123px;
}


.copyright:active {
	width: 195px;
	height: 39px;
	float: right;
	margin-right: 103px;
	background: url(../img/copyrightsprite.png) no-repeat;
	background-position: -10px -64px;
}

.social .social-btn-tw {
	background-image: url(../img/icon-sprite.png);
	background-position: 42px 6px;
}


.social .social-btn-fb {
	background-image: url(../img/icon-sprite.png);
	background-position: 7px 4px;
}

.social .social-btn-inst {
	background-image: url(../img/icon-sprite.png);
	background-position: 80px 5px;
}

.visual:hover {
	background: white;
}

.last {
	clear: both;
}





					/*   ***HOTELS***   */

/*   HEADER   */

.current a {
	color: #766357;
}

.current a:hover {
	color: #604e43;
}
.current a:active {
	color: #dbd8d5;
}


/* CONTENT */

/* top-menu*/

.top-menu {
	width: 100%;

	background: url(../img/filterbackground.jpg) no-repeat;
	color: white;
	box-sizing: border-box;
	padding-top: 10px;
	padding-bottom: 9px;
}

.checkbox-name {
	margin-left: 13px;
}

.column1 {
	height: 100%;
	width: 145px;
	float: left;
	margin-left: 72px;
}

.relli.pool,
.relli.parking {
	margin-bottom: 25px;
}

.column1 p,
.column2 p {
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
	letter-spacing: 0.5;
}

.leftcolumn,
.rightcolumn {
	margin-top: 25px;
}

.column2 {
	height: 100%;
	width: 170px;
	float: left;
	margin-left: 109px;
}

.checkbox-name2 {
	margin-left: 16px;
}

.relli.hotel,
.relli.motel {
	margin-bottom: 25px;
}

.column3 {
	height: 100%;
	width: 330px;
	float: left;
	margin-left: 304px;
}

.gol {
	clear: both;
}

.column1 li,
.column2 li,
.column3 li {
	list-style-type: none;
}

.column1 ul,
.column2 ul,
.column3 ul {
	padding: 0;
}

.checkbox {
	position: relative;
	padding-left: 26px;
	cursor: pointer;
}

.checkbox:hover {
	color: inherit;
}

.checkbox input[type="checkbox"] {
	display: none;
}

.relli {
	position: relative;
}

.checkbox input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	width: 26px;
	height: 22px;
	top: -3px;
  	left: 0;
  	border: transparent;
  	background: url(../img/untig.png) no-repeat;
}


.checkbox input[type="checkbox"]:checked +.checkbox-indicator::before {
	content: "";
	position: absolute;
	width: 26px;
	height: 32px;
	top: 0;
	left: 0;
	border: transparent;
  	background: url(../img/tig.png) no-repeat;
}

.checkbox input[type="checkbox"]:disabled +.checkbox-indicator::before {
	content: "";
	position: absolute;
	width: 26px;
	height: 32px;
	top: 0;
	left: 0;
	border: transparent;
  	background: url(../img/test1.png) no-repeat;
}

.checkbox input[type="checkbox"]:checked:disabled +.checkbox-indicator::before {
	content: "";
	position: absolute;
	width: 26px;
	height: 32px;
	top: 0;
	left: 0;
	border: transparent;
  	background: url(../img/test2.png) no-repeat;
}

.relli {
	margin-bottom: 23px;
}


/*   column3(range control)   */

.column3 {
	padding-top: 2px;
}

.filter-range {
	width: 330px;
	text-transform: uppercase;
	color: #ffffff;
}

.range-title {
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
	margin-top: 14px;
	margin-bottom: 14px;
}

.price-controls {
	border: 2px solid #fff;
	border-radius: 2px;
	margin-bottom: 20px;
	height: 36px;
	box-sizing: border-box;
	font-size: 0;
	position: relative;
	margin-top: -3px;
	margin-left: 10px;
	width: 318px;
	box-sizing: border-box;
}

.price-controls::after {
	content: "";
	position: absolute;
	width: 2px;
	height: 22px;
	background: #ffffff;
	top: 50%;
	left: 50%;
	margin-left: -1px;
	margin-top: -11px;
}

.price-controls label {
	display: inline-block;
	font-size: 14px;
	line-height: 31px;
	vertical-align: top;
	cursor: pointer;
}

.price-controls .min-price {
	width: 90px;
	padding-left: 65px; 
}

.price-controls .max-price {
	width: 90px;
	padding-left: 56px;
}

.price-controls input {
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
	outline: none;
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  margin-left: 10px;
  width: 318px;
}

.range-controls .bar {
	height: 2px;
	width: 80%;
	background: #ffffff;
}

.range-toggle {
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
	position: absolute;
	top: -9px;
}

.range-toggle-min {
	left: 0;
	left: 10px;
}

.range-toggle-max {
	left: 80%;
}

.range-toggle:hover{
	background: #1c4f80;
}

.btn-transparent {
	display: block;
	padding: 4px 30px 6px 30px;
	border: 2px solid #ffffff;
	background: transparent;
	margin: 0 auto;
	font: inherit;
	color: inherit;
	cursor: pointer;
	border-radius: 2px;
}

.btn-transparent:hover {
	background: #ffffff;
	color: #000000;
	border-radius: 2px;
}


/*   find block   */

.sort-menu {
	font-size: 0;
	padding-top: 31px;
	padding-bottom: 31px;
	border-bottom: 1px solid #e5e5e5; 
}

.sort-menu-item {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	line-height: 18px;
	color: black;
}

.sort-menu .title {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	margin-left: 72px;
	margin-right: 50px;
	margin-top: -2px;
	display: inline-block;
	vertical-align: middle;
}

.sort-menu-item.number1,
.sort-menu-item.number2,
.sort-menu-item.number3,
.sort-menu-item.number4 {
	margin-top: 2px;
}

.sort-menu .number2 a {
	color: #81b3d2;
	text-decoration: none;
}

.sort-menu .number2 {
	margin-left: 40px;
	margin-right: 33px;
}

.sort-menu .number3 a:hover,
.sort-menu .number4 a:hover {
	color: #81b3d2;
}

.sort-menu .number3 a:active,
.sort-menu .number4 a:active {
	color: #000000;
}

.sort-menu .number3 {
	margin-right: 33px;
}

.sort-menu .number4 {
	margin-right: 505px;
}

.sort-menu .number3 a, 
.sort-menu .number4 a {
	color: #cacaca;
	border-bottom: 1px dotted #81b3d2;
	text-decoration: none;
}

.sort-menu .number5 {
	margin-right: 12px;
}
.sort-menu .number5 a {
	display: inline-block;
	vertical-align: middle;
	width: 11px;
	height: 10px;
	border: none;
	background: transparent url(../img/up.png) no-repeat;
	font-size: 0;
}

.sort-menu .number5 a:hover {
	background: transparent url(../img/uphvr.png) no-repeat;
}

.sort-menu .number5 a:active {
	background: transparent url(../img/upact.png) no-repeat;
}

.sort-menu .number6 a {
	display: inline-block;
	vertical-align: middle;
	width: 11px;
	height: 10px;
	border: none;
	background: transparent url(../img/down.png) no-repeat;
	font-size: 0;
}

.sort-menu .number6 a:hover {
	background: transparent url(../img/downhvr.png) no-repeat;
}

.sort-menu.number5,
.sort-menu .number6 {
	margin-top: -2px;
}

/*   result-menu   */


.result-menu {
	width: 100%;
}


/*   result-1 */

.result {
	width: 100%;
	height: 90px;
	border-bottom: 1px solid #e5e5e5; 
	padding-top: 30px;
	padding-bottom: 30px;
	box-sizing: border-box;
	height: 151px;
}

.picture1,
.picture2,
.picture3 {
	float: left;
	width: 135px;
	height: 90px;
	margin-left: 72px;
}

.about-hotel {
	float: left;
	width: 400px;
	margin-left: 30px;
	box-sizing: border-box;
	margin-top: -6px;
}

.about-hotel .result-title {
	display: block;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-decoration: none;
	color: black;
	width: 100%;
	margin-bottom: 7px;
}

.about-hotel .result-title:hover {
	color: #669ec0; 
}

.about-hotel .result-title:active {
	color: #cacaca; 
}

.result-description {
	margin-bottom: -6px;
}

.description1 {
	display: block;
	float: left;
	width: 100px;
	color: #7d7d7d;
	font-size: 14px;
	line-height: 21px;
	margin-right: 15px;
}

.description2 {
	display: inline-block;
	color: #7d7d7d;
	font-size: 14px;
	line-height: 21px;
}

.more {
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	background: #81b3d2;
	margin-right: 2px;
	padding: 3px 17px;
	width: 76px;
}

.more:hover {
	background: #669ec0;
}

.more:active {
	background: rgb(84, 150, 189,);
	color: rgba(255, 255, 255, 0.3)
}

.book {
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	background: #766357;
	padding: 3px 18px;
}

.book:hover {
	background: #604e43;
}

.book:active {
	background: rgb(80, 62, 51);
	color: rgba(255, 255, 255, 0.3)
}

.rating {
	width: 110px;
	margin-right: 72px;
	margin-top: -1px;
	float: right;
}

.star-rating1 {
	height: 17px;
	background: url(../img/star.jpg) repeat-x;
	margin-bottom: 50px;
	float: right;
}

.star-rating2 {
	height: 17px;
	background: url(../img/star.jpg) repeat-x;
	margin-bottom: 50px;
	float: right;
}

.star-rating3 {
	height: 17px;
	background: url(../img/star.jpg) repeat-x;
	margin-bottom: 50px;
	float: right;
}

.point-rating a {
	font-size: 14px;
	line-height: 21px;
	color: #666666;
	background: #f2f2f2;
	padding: 3px 14px;
	text-transform: uppercase;
	text-decoration: none;
}

.gol {
	clear: both;
}
.support {
	clear: both;
}